@charset "UTF-8";

*{
    font-family: Verdana, Tahoma, sans-serif;
}
body{
    background-image: linear-gradient(to right, #AEBF93,#cec9b8 );
}
main{
    background-color:white;
    border-radius: 10px;
    width: 600px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px 15px #646e55a6;
}
h1{
    color: #415b72;
    text-align: center;
    text-shadow: 1px 1px 2px #3347589f;
}
h2{
    color: #591711;
}
p{
    text-align: justify;
}